body{
    margin: none;
    padding: none;
}
.badge{
    text-align: center;
}

.logo{
    border: 1px;
    width: 50px;
}

.wow{
    width: 100vw;
    border: 1px;
    font-family: fantasy;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(87, 93, 104);
}


.vacio{
    width: hp;
    height: 100px;
    border: 1px;
}

.padre{
    display: flex;
    justify-content: space-around;
    column-width: 50px;
    border: 1px;
    width: 100vw;
}

.hijos{
    width: 250px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    border: 1px;
}

.image{
    width: 100px;
    border: 1px;
    display: flex;
    align-items: baseline;
  
}

.wow2{
    width: 100vw;
    border:  1px;
    display: flex;
    justify-content: flex-start;
    background-color:  rgb(87, 93, 104);
}

.perfil{
    border:  1px;
    margin: 25px;
}